<h1>Patients</h1>
<ul>
  <% @patients.each do |patient| %>
    <li> <%= patient.id %> - <%= patient.name %></li>
    <li> <%= patient.cpf %> - <%= patient.birth_date %></li>
    <%= link_to "Edit", edit_patient_path(patient.id) %>
    <%= link_to "Destroy", destroy_patient_path(patient.id), method: :delete %>
  <% end %>
</ul>
