<div class="container">
  <h1 class='doc-title'>Doctors</h1>
    <div class="doctor-grid">
      <ul>
      <%= link_to "New", new_doctor_path, class: 'btn btn-secondary btn-custom' %>
        <% @doctors.each do |doc| %>
          <div class="doctor-card">
            <div class="doctor-content">
              <div class="doctor-info">
                <li> <%= doc.id %> - <%= doc.name %></li>
                <li> <%= doc.crm %> - <%= doc.crm_uf %></li>
              </div>
              <div class="btn-doctors">
                <%= link_to "Edit", edit_doctor_path(doc.id), class: 'btn btn-custom btn-edit' %>
                <%= link_to "Destroy", destroy_path(doc.id), method: :delete, class: 'btn btn-custom btn-delete' %>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
  </div>
</div>
