<div class="container">
  <h1 class='doc-title'>Appointments</h1>
    <div class="doctor-grid">
      <ul>
        <% @appointments.each do |a| %>
          <div class="doctor-card">
            <div class="doctor-content">
              <div class="doctor-info">
                <li> <%= a.patient_id %> - <%= a.doctor_id %></li>
                <li> <%= a.id %> #REMOVER LATER </li>
                <li> <%= a.starts_at %></li>
                <li> <%= a.ends_at %></li>
              </div>
              <div class="btn-doctors">
                <%= link_to "Edit", edit_appointment_path(a.id), class: 'btn btn-custom btn-edit' %>
                <%= link_to "Destroy", destroy_appointment_path(a.id), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-custom btn-delete' %>
              </div>
            </div>
          </div>
        <% end %>
      </ul>
  </div>
</div>
