<h1>Appointments</h1>
<ul>
  <% @appointments.each do |a| %>
    <li> <%= a.starts_at %> - <%= a.ends_at %></li>
    <li> <%= a.patient_id %> - <%= a.doctor_id %></li>
    <li> <%= a.id %></li>
    raise
    <%= link_to "Edit", edit_appointment_path(a.id) %>
    <%= link_to "Destroy", destroy_appointment_path(a.id), method: :delete %>
  <% end %>
</ul>
